.advertiser-header
	padding-bottom 20px
	border-bottom 1px solid border

	+below(size-medium)
		padding-bottom 5px

	>.grid
		display table
		width 100%
		table-layout fixed

		+below(size-tablet)
			display block

		> div
			float none
			display table-cell
			vertical-align top

			+below(size-tablet)
				float right
				display block

			&:last-child
				text-align left

				+below(size-tablet)
					text-align right

	&__logo
		display inline-block
		padding-left 25px
		text-decoration none
		color main-dark

		+below(size-tablet)
			padding-left 10px

		img
			display block
			width 100%


	&__info
		padding-x(25px)
		border-left 1px solid border
		border-right 1px solid border

		+below(size-tablet)
			padding-right 10px
			padding-left 0
			border-left 0

		+below(size-mobile)
			padding-right 0
			border-right 0

	&__info-title
		margin-bottom 15px
		font-size 30px
		line-height 34px

		+below(size-tablet)
			margin-bottom 0

		a
			color main-dark
			text-decoration none

			&:hover,
			&:focus
				color main

		small
			font-size 20px
			line-height 34px

		.tag
			position relative
			top -3px

	&__info-title-separator
		display inline-block
		margin-x(8px)

	&__img-wrap
		padding-right 20px
		text-align left

		+below(size-mobile)
			text-align right
			padding-right 0

	&__img-body
		z-index 1
		position relative
		display inline-block
		width 80px
		overflow hidden
		cursor pointer

		+below(size-mobile)
			width auto

		&:hover,
		&:focus

			.advertiser-header__img-overlay
				top 0

	&__img
		position relative
		display block
		height 0
		width 100%
		padding-bottom 100%
		bg-image()

		+below(size-mobile)
			display none

		&:after
			content ''
			position absolute
			top 0
			left 0
			display block
			height 100%
			width 100%
			border 4px solid rgba(255, 255, 255, .2)

			+below(size-mobile)
				display none



	&__img-overlay
		position absolute
		top 100%
		left 0
		height 100%
		width 100%
		display inline-block
		text-decoration none
		background-image url(images/static/icon-mag.png)
		background-position center center
		background-repeat no-repeat
		cursor pointer
		text-indent 100%
		white-space nowrap
		overflow hidden

		+below(size-mobile)
			position static
			margin-top 5px
			padding-x(10px)
			color light
			line-height 30px
			text-indent 0
			background-image none
			background #464646
			vertical-align top


		&:hover,
		&:focus
			top 0

			+below(size-mobile)
				&:hover,
				&:focus
					background main

	&__call-btn-wrap
		margin-bottom 3px



		&:last-child
			margin-bottom 0

	&__contact-form-btn
		display inline-block
		width 100%
		padding-x(5px)
		color light
		line-height 30px
		text-align center
		text-decoration none
		background #464646

		&:hover,
		&:focus
			background main


	//image modal
	&__img-modal
		z-index 1000
		display none
		position fixed
		top 0
		bottom 0
		left 0
		right 0
		background rgba(0,0,0, .7)
		overflow-x hidden
		overflow-y auto
		cursor pointer
		text-align center


	&__img-modal-body
		display inline-block
		margin 30px 0
		width auto
		padding-x 10px
		cursor default

	&__img-modal-close-wrap
		margin-top 20px
		margin-bottom 10px
		text-align left

	&__img-modal-img
		max-height 70vh
		width auto
		max-width 100%

	&__footer
		padding-right 25px

		+below(size-tablet)
			padding-right 0
			padding-top 3px

		> .grid
			margin-x(-5px)
			> div
				padding-x(5px)

	&__tags-wrap
		padding-right 20px
		text-align left

		+below(size-tablet)
			padding-top 5px
			padding-right 0
			text-align right

	&__tags-title
		display block
		margin-bottom 25px
		color main-dark
		font-weight bold

		+below(size-medium)
			margin-bottom 5px

	&__tag
		margin-bottom 5px

		+below(size-tablet)
			float right
			margin-left 5px

		&:last-child
			margin-bottom 0




