.advertiser-slider

	.item
		overflow hidden

	&__slider
		position relative

	&__wrap
		position relative
		padding-x(55px)

		+below(size-medium)
			padding-x(35px)

	&__slide
		cursor pointer

	&__slide-content
		margin-x(auto)
		height 175px
		position relative
		overflow hidden
		text-align center
		clearfix()

	&__slide-content-img
		position relative
		float right
		right 50%

		img
			position relative
			right -50%
			height 175px
			width auto !important

	&__slide-overlay
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background transparent url(images/icon-mag.png) center center no-repeat
		-ms-filter unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"')
		filter unquote('alpha(opacity=0)')
		-moz-opacity 0
		-khtml-opacity 0
		opacity 0
		tr(.3s)

		&:hover,
		&:focus
			opacity-none()

	&__slide-img
		height 175px
		width 135px
		bg-image()

		img
			display block
			height 175px
			max-width 135px
			width 100%
			margin-x(auto)


	//controls styles


	.owl-prev,
	.owl-next
		position absolute
		display block
		top 0
		height 175px
		width 50px
		background #bcbcbc
		cursor pointer
		text-decoration none
		text-indent 100%
		white-space nowrap
		overflow hidden

		&:hover,
		&:focus
			opacity-strong()

		+below(size-medium)
			width 30px

	.owl-next
		right 0
		background-image url(images/slider-right.png)
		bg-image()

	.owl-prev
		left 0
		background-image url(images/slider-left.png)
		bg-image()

