.article-preview-block
	padding-top 50px
	overflow-x hidden

	+below(size-medium)
		padding-top 20px

	> .grid
		margin-x(-33px)

		+below(size-medium)
			margin-x(-15px)

		> div
			padding-x(33px)

			+below(size-medium)
				padding-x(15px)
