.article-preview-item
	max-width 300px
	margin-x(auto)

	&__header
		padding-y(18px)

		h3
			color main-dark
			font-size 30px

			a
				color main-dark
				text-decoration none

				&:hover,
				&:focus
					text-decoration underline

	&__body
		margin-bottom 18px

	&__img
		display block
		height 0
		width 100%
		margin-bottom 15px
		padding-bottom 70%
		bg-image()
		text-decoration none

		&:hover,
		&:focus
			opacity-light()

	&__text
		height 76px
		overflow hidden

	&__footer
		padding-y(18px)
		border-top 1px solid #a1a1a1


