.call-btn
	z-index 1
	position relative
	display inline-block
	width 100%
	overflow hidden
	text-decoration none
	text-align center
	background #727272

	+below(size-tablet)
		padding-left 5px

	&:hover,
	&:focus

		.call-btn__overlay
			top 0

	&__body
		display block
		padding 5px
		color light
		overflow hidden

		+below(size-tablet)
			padding 0
			padding-x(5px)
			single-line()

	&__body-title
		display block
		max-width 100%
		font-size 16px
		line-height 1.2
		single-line()

		+below(size-tablet)
			display inline
			line-height 30px

	&__advertiser
		display block
		max-width 100%
		font-size 18px
		line-height 1.2
		single-line()

		+below(size-tablet)
			display inline
			font-size 16px
			line-height 30px
			max-width none


	&__overlay
		position absolute
		top 100%
		left 0
		display block
		width 100%
		padding-x(5px)
		color light
		font-size 20px
		background #000
		text-align middle
		tr(.3s)

		+below(size-tablet)
			display none

		span
			display inline-block
			width 100%
			line-height 48px
			single-line()
