.close-btn
	display inline-block
	height 37px
	width 37px
	background-image url(images/static/close.png)
	bg-image()
	text-decoration none

	&:hover,
	&:focus
		background-image url(images/static/close-hover.png)

	&_bordered
		border 1px solid light
