.contact

	&__form
		padding-top 30px

		+below(size-tablet)
			padding-top 20px

	&__input-wrap
		margin-bottom 18px

		&:last-child
			margin-bottom 0

	&__input,
	&__textarea
		display block
		width 100%
		padding-top 14px
		padding-bottom 15px
		padding-x(25px)
		color main-light
		font-size 30px
		border none
		background #f2f2f2

		+below(size-tablet)
			padding-y(8px)
			font-size 20px

		&::-webkit-input-placeholder
			color #c0c0c0

		&:-moz-placeholder /* Firefox 18- */
			color #c0c0c0

		&::-moz-placeholder  /* Firefox 19+ */
			color #c0c0c0

		&:-ms-input-placeholder
			color #c0c0c0


	&__textarea
		height 145px

		+below(size-tablet)
			height 100px

	&__submit
		display block
		width 100%
		color #c0c0c0
		font-size 30px
		line-height 70px
		text-align center
		border 0
		background bg-dark
		cursor pointer
		tr(.3s)

		+below(size-tablet)
			line-height 43px

		&:hover,
		&:focus
			background #000

