.contact
	padding-top 85px
	padding-bottom 20px

	+below(size-tablet)
		padding-top 30px

	&__text-block
		margin-bottom 20px

	&__form
		padding-top 30px

	&__input-wrap
		margin-bottom 18px

	&__input,
	&__textarea
		display block
		width 100%
		padding-top 14px
		padding-bottom 15px
		padding-x(25px)
		color main-light
		font-size 30px
		border none
		background #f2f2f2

		+below(size-smallest)
			font-size 20px

		&::-webkit-input-placeholder
			color #c0c0c0

		&:-moz-placeholder /* Firefox 18- */
			color #c0c0c0

		&::-moz-placeholder  /* Firefox 19+ */
			color #c0c0c0

		&:-ms-input-placeholder
			color #c0c0c0


	&__textarea
		height 145px

	&__submit
		display block
		width 100%
		color #c0c0c0
		font-size 30px
		line-height 70px
		text-align center
		border 0
		background #363636
		cursor pointer
		tr(.3s)

		+below(size-smallest)
			line-height 56px

		&:hover,
		&:focus
			background #000

