.contact
	padding-top 80px

	&__text-block
		margin-bottom 10px

	&__form
		padding-top 30px

	&__input-wrap
		margin-bottom 18px

	&__input,
	&__textarea
		display block
		width 100%
		padding-x(25px)
		font-size 30px
		border none
		background #f2f2f2

	&__submit
		display block
		width 100%
		color #c0c0c0
		font-size 30px
		line-height 88px
		text-align center
		border 0
		background #363636
		cursor pointer
		tr(.3s)

		&:hover,
		&:focus
			background #000

