.footer
	padding-top 60px
	padding-bottom 25px

	+below(size-medium)
		padding-y(10px)

	+below(size-tablet)
		text-align center

	&__design
		text-align left

		+below(size-tablet)
			padding-top 10px
			text-align center
