.main

	&_contact
		background-image url(images/static/bg-big-2.jpg)
		background-color transparent
		background-position left bottom
		background-repeat no-repeat
		-webkit-background-size auto 100%
		-moz-background-size auto 100%
		-o-background-size auto 100%
		background-size auto 100%

	&_content
		background-image url(images/static/bg-big.jpg)
		background-color transparent
		background-position left bottom
		background-repeat no-repeat
		-webkit-background-size auto 100%
		-moz-background-size auto 100%
		-o-background-size auto 100%
		background-size auto 100%
