.menu
	clearfix()

	> li
		position relative
		float right
		margin-left 25px
		color main-light
		font-size 20px

		+below(900px)
			float none
			margin-left 0
			border-bottom 1px solid main-light

			&:last-child
				border-bottom 0

		> a
			display block
			padding-y(5px)
			color main-light
			text-decoration none

			+below(900px)
				padding-y(10px)

			&:hover,
			&:focus
				color main

	>li.active

		> a
			color main
			font-weight bold

.sub-menu
	display none
	overflow hidden
	position absolute
	min-width 100%
	top 100%
	right 0
	z-index 1000

	+below(900px)
		position static

	> li
		border-bottom 1px solid light

		&:last-child
			border none

		> a
			display block
			padding-x(10px)
			color light
			font-size 20px
			line-height 20px
			line-height 40px
			background #1f1f1f
			text-decoration none

			&:hover,
			&:focus
				color #1f1f1f
				background #ededed

	> li.active

		> a
			color #1f1f1f
			background #ededed


.menu-mobile-icon
	display none
	position absolute
	top 0
	left 0
	padding-top 7px
	margin-y(auto)
	height 40px
	width 40px
	cursor pointer

	&:hover
		span
			background main

	span
		display block
		height 5px
		width 40px
		margin-bottom 5px
		background main-light
		tr(.3s)


	+below(900px)
		display block
