.tag
	display inline-block
	max-width 100%
	padding-x(5px)
	color light
	font-size 16px
	line-height 22px
	text-decoration none
	background #8c6239
	single-line()
	vertical-align middle

	&_type-2
		background #0072bb
